@model IEnumerable<Ictshop.Models.Chitietdonhang>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết đơn hàng</h2>

<table class="table">
    <tr>
        <th>
            Sản phẩm
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Đơn giá / 1 sản phẩm
         </th>
        <th>
            Thành tiền
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Sanpham.Tensp)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Soluong)
    </td>
    <td>
        @String.Format("{0:0,0}", item.Dongia) VNĐ
    </td>
    <td>
        @String.Format("{0:0,0}", item.Thanhtien) VNĐ
    </td>
</tr>
    }

</table>
