@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Nguyễn Văn Cường
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    081 288 3636
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:cuongyd196@gmail.com">cuongyd196@gmail.com</a><br />
</address>