@model Ictshop.Models.PhanQuyen

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Phân quyền</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Tên quyền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenQuyen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDQuyen }) |
    @Html.ActionLink("Back to List", "Index")
</p>
